# torch==0.4.1
# torchvision==0.2.0
tensorflow==1.14.0
imageio
scipy
argparse
Pillow
sacred
easydict
pymongo
pyyaml
opencv-python
Cython
numba
progress
matplotlib
easydict
scipy
pyquaternion
nuscenes-devkit
pyyaml
motmetrics
scikit-learn==0.22.2